[Desktop Entry]
Encoding=UTF-8
Name=Linux@IBM Community
Comment=A complete Linux@IBM Community
Icon=/usr/share/pixmaps/config-desktop-shortcuts/faq.png
Type=Link
URL=http://w3-connections.ibm.com/communities/community/openclient-rhel
Terminal=False
Name[es_AR]=Linux@IBM Community
Comment[es_AR]=Una Linux@IBM Comunidad completa
Name[pt_BR]=Comunidade do Linux@IBM
Comment[pt_BR]=Uma completa comunidade do Linux@IBM
Name[es_ES]=Comunidad Linux@IBM
Comment[es_ES]=Una completa comunidad de Linux@IBM
Name[de_DE]=Linux@IBMx Comminity
Comment[de_DE]=Ein vollständiger Linux@IBM-Wiki
Name[fr_CA]=Communauté Linux@IBM
Comment[fr_CA]=Une communauté Linux@IBM complet
Name[zh_TW]=Linux@IBM Community
Comment[zh_TW]=完整的 Linux@IBM Community
Name[ja_JP]=Linux@IBM Community
Comment[ja_JP]=完全な Linux@IBM Community
Name[zh_CN]=Linux@IBM Community
Comment[zh_CN]=完整的 Linux@IBM Community
Name[it_IT]=Linux@IBM Community
Comment[it_IT]=Linux@IBM Community
Name[fr_FR]=Communauté Linux@IBM
Comment[fr_FR]=Communauté Linux@IBM complet
Name[ko_KR]=Linux@IBM Community
Comment[ko_KR]=Linux@IBM 전체 Community
